<h1 class="text-3xl font-montserrat">Todos los productos <span class="text-violet-400">{{gender()}}</span></h1>
<h3 class="text-l mb-5 font-montserrat">Para todos los gustos</h3>

<app-pagination [pages]="productResource.value()?.pages ?? 0" [currentPage]="paginationService.currentPage()"></app-pagination>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">

    
    @for (product of productResource.value()?.products; track $index) {
        <product-card [product]="product"></product-card>
    }
    
</div>

<app-pagination [pages]="productResource.value()?.pages ?? 0"></app-pagination>