<section class="w-full">
  <h1 class="text-2xl font-bold">Pipes custom</h1>
  <h3 class="text-l font-thin">Pipes no incluidos en Angular</h3>
</section>

<div class="stats shadow">
  <div class="stat">
    <div class="stat-figure text-primary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        ></path>
      </svg>
    </div>
    <div class="stat-title">ToggleCasePipe</div>
    <div class="stat-value text-primary text-2xl">{{ name() | toggleCase : upperCase() }}</div>
    <div class="stat-desc text-2xl">{{ name() }}</div>
    <button class="btn btn-primary" (click)="upperCase.set(!upperCase())">ToggleCase</button>
  </div>
</div>
<div class="divider"></div>

<section class="w-full">
  <h1 class="text-2xl font-bold">Pipes personalizados en acción</h1>
  <h1>Filtrando por: {{ searchQuery() }} Ordenando por: {{ sortBy() }}</h1>
  <div class="flex gap-2 w-full justify-end mt-2">
    <input type="text" class="input input-bordered w-full max-w-xs" placeholder="Buscar héroe " #txtSearch (input)="searchQuery.set(txtSearch.value)" />
    <div class="flex flex-1"></div>

    <button (click)="sortBy.set('name')" class="btn btn-primary">Nombre</button>
    <button (click)="sortBy.set('canFly')" class="btn btn-accent">Volar</button>
    <button (click)="sortBy.set('color')" class="btn btn-secondary">Color</button>
    <button (click)="sortBy.set('creator')" class="btn btn-info">Creador</button>
  </div>
</section>
<div class="divider"></div>
<div class="overflow-x-auto w-full">
  <table class="table table-xs w-full">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Puede Volar</th>
        <th>color</th>
        <th>creador</th>
      </tr>
    </thead>
    <tbody>
      @for (hero of heroes() | heroFilter: searchQuery()|heroSortBy:sortBy(); track hero.id; let i = $index) {
      <tr>
        <th>{{ i + 1 }}</th>
        <td>{{ hero.name }}</td>
        <td>
          <span
            class="text-xs w-44"
            [class.text-success]="hero.canFly"
            [class.text-accent]="!hero.canFly"
            >{{ hero.canFly | canFly }}</span
          >
        </td>
        <td>
          <span class="text-xs w-44" [style.color]="hero.color | heroTextColor">
            {{ hero.color | heroColor | titlecase }}
          </span>
        </td>
        <td>{{ hero.creator | creator }}</td>
      </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Puede Volar</th>
        <th>color</th>
        <th>creador</th>
      </tr>
    </tfoot>
  </table>
</div>
